---
import Layout from "@/layouts/Layout.astro";
import App from "@/tools/grid.tsx";
---

<Layout title="visualize DNA in 3D" tool>
  <div class="sketchfab-embed-wrapper">
    <iframe
      title="DNA Double Helix – Base Pairing Model"
      class="w-screen h-screen"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src="https://sketchfab.com/models/5b3bdf0a379648b8a8896b86f591ee07/embed"
    >
    </iframe>
    <p
      style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"
    >
      <a
        href="https://sketchfab.com/3d-models/dna-double-helix-base-pairing-model-5b3bdf0a379648b8a8896b86f591ee07?utm_medium=embed&utm_campaign=share-popup&utm_content=5b3bdf0a379648b8a8896b86f591ee07"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        DNA Double Helix – Base Pairing Model
      </a> by <a
        href="https://sketchfab.com/naratech?utm_medium=embed&utm_campaign=share-popup&utm_content=5b3bdf0a379648b8a8896b86f591ee07"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        NaraXR
      </a> on <a
        href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=5b3bdf0a379648b8a8896b86f591ee07"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;">Sketchfab</a
      >
    </p>
  </div>
</Layout>
